.bienvenida{	
	background: #2c5889; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #c0a577, #f7e4a9, #8fedaf, #4dc7b2, #3483a4, #2c5889); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left,#c0a577, #f7e4a9, #8fedaf, #4dc7b2, #3483a4, #2c5889); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left, #c0a577, #f7e4a9, #8fedaf, #4dc7b2, #3483a4, #2c5889); /* For Fx 3.6 to 15 */
	background: linear-gradient(to right, #c0a577, #f7e4a9, #8fedaf, #4dc7b2, #3483a4, #2c5889); /* Standard syntax (must be last) */
	background-image: url('img/blurred-greenish.jpg');
	background-repeat: no-repeat;
	background-size:cover;
}
.alert-gris{
	background: #ccd4d8; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #ccd4d8, #eceeef); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right,#ccd4d8,  #eceeef); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right,#ccd4d8, #eceeef); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #ccd4d8, #eceeef); /* Standard syntax (must be last) */
}
.text-azul{
	color:#013a6b !important;
}
/* datepicker from bootstrap themes https://bootstrap-themes.github.io/dashboard/index.html */
.datepicker {
  padding: 4px;
  border-radius: 4px;
  color: #222;
  direction: ltr; }
  .datepicker-inline {
    width: 220px; }
  .datepicker.datepicker-rtl {
    direction: rtl; }
    .datepicker.datepicker-rtl table tr td span {
      float: right; }
  .datepicker-dropdown {
    top: 0;
    left: 0; }
    .datepicker-dropdown:before {
      content: '';
      display: inline-block;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #ccc;
      border-top: 0;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      position: absolute; }
    .datepicker-dropdown:after {
      content: '';
      display: inline-block;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #fff;
      border-top: 0;
      position: absolute; }
    .datepicker-dropdown.datepicker-orient-left:before {
      left: 5px; }
    .datepicker-dropdown.datepicker-orient-left:after {
      left: 6px; }
    .datepicker-dropdown.datepicker-orient-right:before {
      right: 5px; }
    .datepicker-dropdown.datepicker-orient-right:after {
      right: 6px; }
    .datepicker-dropdown.datepicker-orient-top:before {
      top: -6px; }
    .datepicker-dropdown.datepicker-orient-top:after {
      top: -5px; }
    .datepicker-dropdown.datepicker-orient-bottom:before {
      bottom: -7px;
      border-bottom: 0;
      border-top: 7px solid #999; }
    .datepicker-dropdown.datepicker-orient-bottom:after {
      bottom: -6px;
      border-bottom: 0;
      border-top: 6px solid #fff; }
  .datepicker > div {
    display: none; }
  .datepicker.days .datepicker-days,
  .datepicker.months .datepicker-months,
  .datepicker.years .datepicker-years {
    display: block; }
  .datepicker table {
    margin: 5px 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .datepicker table > tbody > tr > td,
    .datepicker table > tbody > tr > th,
    .datepicker table > thead > tr > td,
    .datepicker table > thead > tr > th {
      text-align: center;
      width: 30px;
      height: 30px;
      border-radius: 4px;
      border: none; }
  .table-striped .datepicker table tr td, .table-striped .datepicker table tr th {
    background-color: transparent; }
  .datepicker table tr td.day:hover, .datepicker table tr td.day.focused {
    background: #f5f5f5;
    cursor: pointer; }
  .datepicker table tr td.old, .datepicker table tr td.new {
    color: #aaa; }
  .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    background: none;
    color: #aaa;
    cursor: default; }
  .datepicker table tr td.bqb, .datepicker table tr td.bqb:hover, .datepicker table tr td.bqb.disabled, .datepicker table tr td.bqb.disabled:hover {
    color: #000;
    background-color: #ffdb99;
    border-color: #ffb733; }
    .datepicker table tr td.bqb:hover, .datepicker table tr td.bqb:hover:hover, .datepicker table tr td.bqb.disabled:hover, .datepicker table tr td.bqb.disabled:hover:hover {
      color: #000;
      background-color: #ffc966;
      border-color: #f59e00; }
    .datepicker table tr td.bqb:focus, .datepicker table tr td.bqb.pa, .datepicker table tr td.bqb:hover:focus, .datepicker table tr td.bqb:hover.pa, .datepicker table tr td.bqb.disabled:focus, .datepicker table tr td.bqb.disabled.pa, .datepicker table tr td.bqb.disabled:hover:focus, .datepicker table tr td.bqb.disabled:hover.pa {
      box-shadow: 0 0 0 2px rgba(255, 183, 51, 0.5); }
    .datepicker table tr td.bqb.disabled, .datepicker table tr td.bqb:disabled, .datepicker table tr td.bqb:hover.disabled, .datepicker table tr td.bqb:hover:disabled, .datepicker table tr td.bqb.disabled.disabled, .datepicker table tr td.bqb.disabled:disabled, .datepicker table tr td.bqb.disabled:hover.disabled, .datepicker table tr td.bqb.disabled:hover:disabled {
      background-color: #ffdb99;
      border-color: #ffb733; }
    .datepicker table tr td.bqb:active, .datepicker table tr td.bqb.active,
    .show > .datepicker table tr td.bqb.pc, .datepicker table tr td.bqb:hover:active, .datepicker table tr td.bqb:hover.active,
    .show > .datepicker table tr td.bqb:hover.pc, .datepicker table tr td.bqb.disabled:active, .datepicker table tr td.bqb.disabled.active,
    .show > .datepicker table tr td.bqb.disabled.pc, .datepicker table tr td.bqb.disabled:hover:active, .datepicker table tr td.bqb.disabled:hover.active,
    .show > .datepicker table tr td.bqb.disabled:hover.pc {
      color: #000;
      background-color: #ffc966;
      background-image: none;
      border-color: #f59e00; }
  .datepicker table tr td.bqb:hover:hover {
    color: #000; }
  .datepicker table tr td.bqb.active:hover {
    color: #fff; }
  .datepicker table tr td.range, .datepicker table tr td.range:hover, .datepicker table tr td.range.disabled, .datepicker table tr td.range.disabled:hover {
    background: #f5f5f5;
    border-radius: 0; }
  .datepicker table tr td.range.bqb, .datepicker table tr td.range.bqb:hover, .datepicker table tr td.range.bqb.disabled, .datepicker table tr td.range.bqb.disabled:hover {
    color: #000;
    background-color: #facd7b;
    border-color: #f6a819;
    border-radius: 0; }
    .datepicker table tr td.range.bqb:hover, .datepicker table tr td.range.bqb:hover:hover, .datepicker table tr td.range.bqb.disabled:hover, .datepicker table tr td.range.bqb.disabled:hover:hover {
      color: #000;
      background-color: #f8ba4a;
      border-color: #ca8508; }
    .datepicker table tr td.range.bqb:focus, .datepicker table tr td.range.bqb.pa, .datepicker table tr td.range.bqb:hover:focus, .datepicker table tr td.range.bqb:hover.pa, .datepicker table tr td.range.bqb.disabled:focus, .datepicker table tr td.range.bqb.disabled.pa, .datepicker table tr td.range.bqb.disabled:hover:focus, .datepicker table tr td.range.bqb.disabled:hover.pa {
      box-shadow: 0 0 0 2px rgba(246, 168, 25, 0.5); }
    .datepicker table tr td.range.bqb.disabled, .datepicker table tr td.range.bqb:disabled, .datepicker table tr td.range.bqb:hover.disabled, .datepicker table tr td.range.bqb:hover:disabled, .datepicker table tr td.range.bqb.disabled.disabled, .datepicker table tr td.range.bqb.disabled:disabled, .datepicker table tr td.range.bqb.disabled:hover.disabled, .datepicker table tr td.range.bqb.disabled:hover:disabled {
      background-color: #facd7b;
      border-color: #f6a819; }
    .datepicker table tr td.range.bqb:active, .datepicker table tr td.range.bqb.active,
    .show > .datepicker table tr td.range.bqb.pc, .datepicker table tr td.range.bqb:hover:active, .datepicker table tr td.range.bqb:hover.active,
    .show > .datepicker table tr td.range.bqb:hover.pc, .datepicker table tr td.range.bqb.disabled:active, .datepicker table tr td.range.bqb.disabled.active,
    .show > .datepicker table tr td.range.bqb.disabled.pc, .datepicker table tr td.range.bqb.disabled:hover:active, .datepicker table tr td.range.bqb.disabled:hover.active,
    .show > .datepicker table tr td.range.bqb.disabled:hover.pc {
      color: #000;
      background-color: #f8ba4a;
      background-image: none;
      border-color: #ca8508; }
  .datepicker table tr td.selected, .datepicker table tr td.selected:hover, .datepicker table tr td.selected.disabled, .datepicker table tr td.selected.disabled:hover {
    color: #fff;
    background-color: #aaa;
    border-color: #555;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
    .datepicker table tr td.selected:hover, .datepicker table tr td.selected:hover:hover, .datepicker table tr td.selected.disabled:hover, .datepicker table tr td.selected.disabled:hover:hover {
      color: #fff;
      background-color: #919191;
      border-color: #363636; }
    .datepicker table tr td.selected:focus, .datepicker table tr td.selected.pa, .datepicker table tr td.selected:hover:focus, .datepicker table tr td.selected:hover.pa, .datepicker table tr td.selected.disabled:focus, .datepicker table tr td.selected.disabled.pa, .datepicker table tr td.selected.disabled:hover:focus, .datepicker table tr td.selected.disabled:hover.pa {
      box-shadow: 0 0 0 2px rgba(85, 85, 85, 0.5); }
    .datepicker table tr td.selected.disabled, .datepicker table tr td.selected:disabled, .datepicker table tr td.selected:hover.disabled, .datepicker table tr td.selected:hover:disabled, .datepicker table tr td.selected.disabled.disabled, .datepicker table tr td.selected.disabled:disabled, .datepicker table tr td.selected.disabled:hover.disabled, .datepicker table tr td.selected.disabled:hover:disabled {
      background-color: #aaa;
      border-color: #555; }
    .datepicker table tr td.selected:active, .datepicker table tr td.selected.active,
    .show > .datepicker table tr td.selected.pc, .datepicker table tr td.selected:hover:active, .datepicker table tr td.selected:hover.active,
    .show > .datepicker table tr td.selected:hover.pc, .datepicker table tr td.selected.disabled:active, .datepicker table tr td.selected.disabled.active,
    .show > .datepicker table tr td.selected.disabled.pc, .datepicker table tr td.selected.disabled:hover:active, .datepicker table tr td.selected.disabled:hover.active,
    .show > .datepicker table tr td.selected.disabled:hover.pc {
      color: #fff;
      background-color: #919191;
      background-image: none;
      border-color: #363636; }
  .datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
    color: #fff;
    background-color: #1997c6;
    border-color: #1997c6;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
    .datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover {
      color: #fff;
      background-color: #137499;
      border-color: #126e90; }
    .datepicker table tr td.active:focus, .datepicker table tr td.active.pa, .datepicker table tr td.active:hover:focus, .datepicker table tr td.active:hover.pa, .datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.disabled.pa, .datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active.disabled:hover.pa {
      box-shadow: 0 0 0 2px rgba(25, 151, 198, 0.5); }
    .datepicker table tr td.active.disabled, .datepicker table tr td.active:disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active:hover:disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active.disabled:hover:disabled {
      background-color: #1997c6;
      border-color: #1997c6; }
    .datepicker table tr td.active:active, .datepicker table tr td.active.active,
    .show > .datepicker table tr td.active.pc, .datepicker table tr td.active:hover:active, .datepicker table tr td.active:hover.active,
    .show > .datepicker table tr td.active:hover.pc, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled.active,
    .show > .datepicker table tr td.active.disabled.pc, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.disabled:hover.active,
    .show > .datepicker table tr td.active.disabled:hover.pc {
      color: #fff;
      background-color: #137499;
      background-image: none;
      border-color: #126e90; }
  .datepicker table tr td span {
    display: block;
    width: 23%;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 1%;
    cursor: pointer;
    border-radius: 4px; }
    .datepicker table tr td span:hover {
      background: #f5f5f5; }
    .datepicker table tr td span.disabled, .datepicker table tr td span.disabled:hover {
      background: none;
      color: #aaa;
      cursor: default; }
    .datepicker table tr td span.active, .datepicker table tr td span.active:hover, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover {
      color: #fff;
      background-color: #1997c6;
      border-color: #1997c6;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
      .datepicker table tr td span.active:hover, .datepicker table tr td span.active:hover:hover, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active.disabled:hover:hover {
        color: #fff;
        background-color: #137499;
        border-color: #126e90; }
      .datepicker table tr td span.active:focus, .datepicker table tr td span.active.pa, .datepicker table tr td span.active:hover:focus, .datepicker table tr td span.active:hover.pa, .datepicker table tr td span.active.disabled:focus, .datepicker table tr td span.active.disabled.pa, .datepicker table tr td span.active.disabled:hover:focus, .datepicker table tr td span.active.disabled:hover.pa {
        box-shadow: 0 0 0 2px rgba(25, 151, 198, 0.5); }
      .datepicker table tr td span.active.disabled, .datepicker table tr td span.active:disabled, .datepicker table tr td span.active:hover.disabled, .datepicker table tr td span.active:hover:disabled, .datepicker table tr td span.active.disabled.disabled, .datepicker table tr td span.active.disabled:disabled, .datepicker table tr td span.active.disabled:hover.disabled, .datepicker table tr td span.active.disabled:hover:disabled {
        background-color: #1997c6;
        border-color: #1997c6; }
      .datepicker table tr td span.active:active, .datepicker table tr td span.active.active,
      .show > .datepicker table tr td span.active.pc, .datepicker table tr td span.active:hover:active, .datepicker table tr td span.active:hover.active,
      .show > .datepicker table tr td span.active:hover.pc, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled.active,
      .show > .datepicker table tr td span.active.disabled.pc, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.disabled:hover.active,
      .show > .datepicker table tr td span.active.disabled:hover.pc {
        color: #fff;
        background-color: #137499;
        background-image: none;
        border-color: #126e90; }
    .datepicker table tr td span.old, .datepicker table tr td span.new {
      color: #aaa; }
  .datepicker .datepicker-switch {
    width: 145px; }
  .datepicker thead tr:first-child th,
  .datepicker tfoot tr th {
    cursor: pointer; }
    .datepicker thead tr:first-child th:hover,
    .datepicker tfoot tr th:hover {
      background: #f5f5f5; }
  .datepicker .cw {
    font-size: 10px;
    width: 12px;
    padding: 0 2px 0 5px;
    vertical-align: middle; }
  .datepicker thead tr:first-child .cw {
    cursor: default;
    background-color: transparent; }

.btn-consulta{
    background-color: #6bb4e0 !important;
    border-color: #6bb4e0 !important;
    color: #fff;
}

.btn-outline-consulta {
    color: #6bb4e0;
    background-image: none;
    background-color: transparent;
    border-color: #6bb4e0;
}

.btn-outline-consulta:active, .btn-outline-consulta.active {
    color: #fff;
    background-color: #6bb4e0;
    border-color: #6bb4e0;
}
.gris-claro{
    background-color:#868e9652;
}
